body{
    text-align: center;
    font-family: geist pixel;
}

body {
  background-image: linear-gradient(to right, #b7ed8c, #e5ae84 100%); 
  height: 400px;
}

h1, h3, h4{
    color: var(--textcolor);
}

h5 {
    font-size: 50px;
    margin-top: 10px;
}

h2, h5 {
    color: var(--textcolor2);
}

p1, p2, p3, p4, p5 {
    font-size: 20px;
}

h4 {
    margin-top: 60px;
}

figcaption {
    font-size: 18px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3, h4 {
    font-size: 25px;
}

ol1, ol2, ol3 {
    font-size: 22px;
}

a {
    font-size: 22px;
}

h1, h2, h3, h4, p, a, img, figcaption {
    position: relative;
    z-index: 2;
}

.page-content {
    position: relative;
    z-index: 1;
}

.rain-container {
    position: fixed;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

.curve {
    border-radius: 25px;
    border: 5px solid transparent;
    background:
        linear-gradient(#fffac7, #c9babd) padding-box,
        linear-gradient(to top, #D18585, #aae8c7 100%) border-box;
        padding: 1.75px;
    margin-bottom: 5px;
}

:root {
    --textcolor: rgb(255, 247, 194);
    --textcolor2: rgb(255, 228, 240);
}

@keyframes expandingtext{
    0% {transform: scale(1);}
    20% {transform: scale(1.05);}
    40% {transform: scale(1.1);}
    60% {transform: scale(1.1);}
    80% {transform: scale(1.05);}
    100% {transform: scale(1);}
}  

.expandingtext {
    animation: expandingtext 5s ease-in-out infinite;
}

@keyframes tiltingtext {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(5deg);}
    40% {transform: rotate(-5deg);}
    60% {transform: rotate(5deg);}
    80% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}  

.tiltingtext {
    animation: tiltingtext 5s ease-in-out infinite;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.raindrop {
    position: fixed;
    width: 50px;
    height: 50px;
    background: url("Watermelon-Rain.png") center/cover no-repeat;
    animation: fall linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(100vh);
    }
}

button {
    width: 300px;
    height: 150px;
    border-radius: 25px;
    border: 5px solid transparent;
    background:
        linear-gradient(#fffac7, #c9babd) padding-box,
        linear-gradient(to top, #D18585, #aae8c7 100%) border-box;
        padding: 1.75px;
    margin-top: 25px;
    font-size: 30px;
    font-weight: bold;
}
